---
import ExperienceItem from "../ExperienceItem.astro";
---

<section class="section">
  <h2 class="section-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-briefcase-business-icon lucide-briefcase-business"><path d="M12 12h.01"/><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"/><path d="M22 13a18.15 18.15 0 0 1-20 0"/><rect width="20" height="14" x="2" y="6" rx="2"/></svg>
    Experiencia Laboral
  </h2>
  <ExperienceItem
    role="Docente Universitario"
    company="Universidad Industrial de Santander (UIS)"
    date="2020 - Presente"
    description="Docente en bases de datos y desarrollo web, enseñando tecnologías clave para la industria. He apoyado proyectos aplicados en IoT, microservicios y sistemas distribuidos, integrando práctica profesional al entorno académico."
  />
  <ExperienceItem
    role="Soporte Técnico Especializado"
    company="Cooperativa de Tecnólogos e Ingenieros de la Industria del Petróleo (TIP)"
    date="2019 - 2024"
    description="Adapatación de sistemas informáticos para gestionar análisis petrofísicos e información geográfica, migrando y administrando grandes volúmenes de datos para más de 600 pozos. Automatización de procesos de recopilación y carga de datos, soporte técnico y mantenimiento de sistemas en producción."
  />
  <ExperienceItem
    role="Ingeniero de Sistemas"
    company="Acuerdo UIS-ECOPETROL"
    date="2017 - 2019"
    description="Desarrollo de software para la industria petrolera. Uno de los principales logros fue la integración de datos de análisis petrofísicos con información geológica y geográfica, lo que permitió una mejor toma de decisiones en las áreas implicadas."
  />
  <ExperienceItem
    role="Auxiliar de Apoyo Tecnológico"
    company="IPRED-UIS"
    date="2015 - 2017"
    description="Apoyé la implementación de cursos de aprendizaje en línea, brindando soporte técnico a más de 500 estudiantes de programas a distancia. Además, ofrecí capacitación y acompañamiento en el uso de herramientas tecnológicas a estudiantes y docentes."
  />
</section>