---
import Footer from "../components/Footer.astro";
import Header from "../components/sections/Header.astro";
import Experience from "../components/sections/Experience.astro";
import Project from "../components/sections/Project.astro";
import { Code } from "@lucide/astro";
import "../styles/global.css";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Henry Jiménez | Ingeniero de Software</title>
  </head>
  <body>
    <main>
      <Header />
      <Experience />   
      <Project />   
    </main>
    <Footer />
  </body>
</html>
